body {
  min-height: 50vh;
  font-family: helvetica, Arial, sans-serif;
  font-size: 2vmin;
  background-color: #555;
  color: white;
  margin: 3vmin 4vmin 2vmin 4vmin;
}

/* iPad portait */
@media (max-width: 768px) {
  body {
    font-size: 3vmin;
  }
}

/* iPhone landscape only */
@media (max-width: 568px) {
  body {
    font-size: 4vmin;
  }
}

/* iPhone portait only */
@media (max-width: 320px) {
  body {
    font-size: 4vmin;
  }
}

*:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 0.7em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

#github {
  margin-left: auto;
}

#github-cat {
  height: 1.5em;
}

.container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.buttons {
  display: flex;
  column-gap: 3vmin;
}

button {
  font-size: 1em;
  min-width: 20ch;
  height: 2.5em;
  padding: 5px 10px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: white;
  background-color: #333;
}

input[type="checkbox"] {
  margin-left: 0vmin;
}

textarea {
  font-size: larger;
  width: 40ch;
  max-width: calc(100% - 4vmin);
  height: 4ch;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 2vmin;
}

#result {
  background-color: #555;
  outline: 1px solid white;
  color: white;
  resize: none;
}

.options {
  margin-top: 3vmin;
}

input#slider {
  width: 4.5ch;
  font-size: inherit;
}

details {
  margin-top: 2vmin;
}

summary {
  margin-bottom: 1vmin;
}
